@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
    font-size: 62.5%;
}

body {
    font-size: 2.0rem;
    margin: 0px;
    text-align: center;
    color: #333;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a {
    color: #da99b5;
}

@media (max-width: 670px) {
    /* スマホ */
    main {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 1100px) and (min-width: 671px) {
    /* タブレット */
    main {
        margin: 0 auto;
        width: 671px;
    }
}

@media (min-width: 1101px) {
    /* パソコン */
    main {
        margin: 0 auto;
        width: 671px;
    }
}

.cp_contents {
    margin: 20px;
}



/* インプット */

.cp_input {
    margin: 10px 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 2.0rem;
    letter-spacing: 1px;
    color: #333;
    border: 1px solid #da99b5;
    border-radius: 50vh;
    font-size: 2.0rem;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    outline: none;
}


/* ボタン */
.cp_fileinput{
    display: none;
}

.cp_button, .cp_file{
    width: 400px;
    display: inline-block;
    -webkit-appearance: none;
    margin: 10px 0px;
    color: #fff;
    background-color: #da99b5;
    border-radius: 100vh;
    border: 0px;
    padding: 2.0rem 0rem;
    font-size: 2.0rem;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    outline: none;
}

.cp_file22{
    width: 400px;
    display: inline-block;
    -webkit-appearance: none;
    margin: 10px 0px;
    color: #fff;
    background-color: #da99b5;
    border-radius: 100vh;
    border: 0px;
    padding: 2.0rem 4.0rem;
    font-size: 2.0rem;
    font-family: "Open Sans", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    outline: none;
}

.cp_button:active {
    background-color: #ffc3da;
    outline: none;
}


/* ラジオボタン */

.cp_radio {
    text-align: left;
    display: inline-block;
    margin: 10px 0px;
}

.cp_radio label {
    padding: 0 0 0 32px;
    /* ラベルの位置 */
    line-height: 33px;
    /* ボタンのサイズに合わせる */
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.cp_radio label:before {
    content: '';
    width: 28px;
    /* ボタンの横幅 */
    height: 28px;
    /* ボタンの縦幅 */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #da99b5;
    border-radius: 50%;
}

.cp_radio input[type="radio"] {
    display: none;
}

.cp_radio input[type="radio"]:checked+label:after {
    content: '';
    width: 10px;
    /* マークの横幅 */
    height: 10px;
    /* マークの縦幅 */
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: #fff;
    border-radius: 50%;
}


/* チェックボックス */

.cp_checkbox_data_json {
    font-size: 1.5rem;
    color: #888;
}

input[type=checkbox] {
    display: none;
}

.cp_checkbox_data_json {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.cp_checkbox_data_json::before {
    background: #fff;
    border: 1px solid #888;
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.cp_checkbox_data_json::after {
    border-right: 3px solid #da99b5;
    border-bottom: 3px solid #da99b5;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}

input[type=checkbox]:checked+.cp_checkbox_data_json::after {
    opacity: 1;
}
